           
#container1 {
    display: flex;
    justify-content: center;
                        
}
            
#container2 {
    display: flex;
    justify-content: center;
}

.text {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:lightgrey;
    height: 50vh;
    width: 80vw;
}

.record{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:lightgrey;
    height: 4vh;
    width: 80vw;
}

textarea::placeholder {
  color: grey;  
  font-style: italic;
  font-size: 1.3em;
}

.button {
    font-size: 1.2em;
    font-family:'batang';
    font-weight: normal;
    color: skyblue;
}

@font-face {
	font-family: batang;
	src:url(../font/batang.woff);
    font-weight: normal;
}
.arrowdelete {
    display: flex;
    justify-content: space-between;
}