.graphtable {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    /*align-items: center;*/
}

.verticalLine {
    border-left: solid;
    height: 40vh;
    border-width: 1px;
    border-color: grey;
    margin-top: 8%;
}

.horiozntalLine {
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
    margin-bottom: 30px;
    width: 90vw;
    
}

table.shorttable {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    font-size: 1em;
    table-layout: fixed;
    width: 95%;
    margin: 10px ;
}
table.shorttable th {
    font-weight: lighter;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
    color: skyblue;
    padding: 5px;
}
table.shorttable td {
    
    padding: 10px 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-weight: lighter;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap;
    font-size: 0.7em;
}

.shorter{
    width: 10vw;
    text-align: center;
}

#date{
    width: 30px;
    text-align: center;
}
#colorCell {
    width: 20px;
    text-align: center;
}

#recoderCell {
    width: 30px;
    text-align: center;
}

tablemain{
    width:100%;
}

tbody tr > td {
    text-align: center;
}

#chart_div {
    width: 95%;
}

@media screen and (min-width: 768px) {
    tablemain{
        width: 768px;
    }
.verticalLine {
    border-left: solid;
    /*height: 40%;*/
    border-width: 1px;
    border-color: grey;
    margin-top: 8%;
}

.horiozntalLine {
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
    margin-bottom: 30px;
    /*width: 768px;*/
    
}

/*.graphtable{*/
/*    width: 768px;*/
/*}*/
table.shorttable {
    width:100%;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 2% 2%;
    font-size: 16px;
    table-layout: fixed;
}
table.shorttable th {
    font-weight: lighter;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: skyblue;
    padding: 5px;
}
table.shorttable td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-weight: lighter;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap;
    font-size: 11px;
}

.shorter{
    width: 53.5px;
}