.tablepagination {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
table.shorttable {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 2% 2%;
    font-size: 1em;
    table-layout: fixed;
}
table.shorttable th {
    font-weight: lighter;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
    color: skyblue;
    padding: 5px;
}
table.shorttable td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-weight: lighter;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap;
    font-size: 0.7em;
}

#shorter{
    width: 10vw;
}
#date{
    width: 4%;
}

.pagination {
    display: inline-block;
    font-size: 10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


#fixedfooter {
    position:absolute;
    bottom:0;
}