.record{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:lightgrey;
    height: 4vh;
    width: 80vw;
}
.logosignflex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logoflex{
    display: flex;
    justify-content: center;
}

#textfield{
        border: 1px solid #ccc;
}
.buttonflex{
    display: flex;
    justify-content: center;
}