h1 {
    font-size: 1.2em;
    font-family: 'batang';
}

p {
  font-size: 1.1em;
  font-family: 'batang';
}

#fixedfooter {
    position:absolute;
    bottom:0;
}

.questionsflex{
    display:flex;
}

.questionbutton{
    font-size: 0.8em;
    font-family:'batang';
    font-weight: normal;
    background-color: white;   
}

