#textareaflex {
    display: flex;
    justify-content: center;
}
.text {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:lightgrey;
    height: 10vh;
    width: 80vw;
}

.record{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:lightgrey;
    height: 4vh;
    width: 80vw;
}

textarea::placeholder {
  color: grey;  
  font-style: italic;
  font-size: 1.3em;
}


